<h2>500</h2>
<p>Internal Server Error</p>
<form action="/">
    <button class="btn">Return to index page</button>
</form>
@if (ViewBag.isThis)
{
    <br />
<form action="@Request.UrlReferrer.ToString()">
    <button class="btn">Return to previous page</button>
</form>
}
<style>
    p {
        font-size: 30px;
        text-align: left
    }
</style>