
@{
    ViewBag.Title = "Как открыть порты";
}

<h2>Как открыть порты?</h2>
<h4>В данном уроке покажу как открыть порты на примере роутера Tp-Link</h4>

<h3>
    Во-первых :
    зайдём в панель управления.
    <br />
    Для этого введите в строке браузера
</h3>
<hr />
<h3>
    192.168.0.1 или 192.168.1.1
</h3>
<hr />
<h3>
    В панели логина вводим admin и admin <br />
    (это стандартный пароль, если вы его меняли то введите тот который указали).
    <br />
    Для старых прошивок:
    <br />
    Далее переходим в раздел "DHCP" и в ещё один раздел "Список клиентов DHCP".
    <br />
    Далее копируйте свой ip адрес.
    <br />
    Переходим в раздел "Переадресация", нажимаем добавить и в строку "порт сервиса" вводим порт нужный нам.<br/>
    К примеру мы хотим открыть порт для Minecraft поэтому вводи 25565.<br/>
    Далее вводим в строку "IP-адрес" ip который вы скопировали и нажимаем сохранить.<br/>
</h3>
<hr/>
<h3>
    На новых :
    <br />
    Переходи в "Сеть" -> "DHCP-сервер" и копируем ip вашего устройства.<br />
    Далее переходим  в пункт "NAT переадресация" -> "Перенаправление порта", нажимаем добавить.<br />
    В поле "Имя сервиса" вписывайте название которое вам нравится, <br/>
    в поле "IP-адрес устройства" вводим наш ip который мы скопировали <br />
    и в поля "Внешний порт" , "Внутренний порт" вводим порт вашего сервиса <br />
    Нажимаем сохранить.
</h3>

<hr/>
<h3>Готово.</h3>