
@{
    ViewBag.Title = "Создание сервера Minecraft";
}

<h3>
    Как создать свой сервер в Minecraft.
</h3>
<hr />
<h3>
    Есть несколько путей для этого<br />
    Первое: покупка хостинга.<br />
    Плюсы: Работает всегда (если не выключать), большое разнообразие.<br />
    Минусы: Стоит денег (цена зависит от хостинга).<br />
    Второе:<br />
    Бесплатные хостинги:<br />
    Плюсы: бесплатно, не задействует ресурсы вашего пк.<br />
    Минусы: часто плохое железо, долгий запуск и в основном не представляют возможности использовать сервер 24/7.<br />
    И последний вариант:<br />
    Хост сервера на своём пк.<br />
    Плюсы: бесплатный вариант.<br />
    Минусы: хост работает пока ваш пк работает, использует ресурсы вашего пк.<br />
</h3>
<hr />
<h3>
    В этой статье мы создадим сервер на своём пк.<br />
    Во первых если вы хотите играть с другими игроками которые не находятся в одной LAN(локальной сети),<br />
    вам необходимо <a href="t1">открыть порты.</a><br />
</h3>
<hr />
<h3>
    Выбор ядра <br />
    <a href="https://getbukkit.org/download/spigot">Spigot</a> - плагины<br />
    <a href="https://dev.bukkit.org/">Bukkit</a> - плагины(устарело)<br />
    <a href="https://papermc.io/software/paper">Paper</a> - плагины <br />
    <a href="https://files.minecraftforge.net/net/minecraftforge/forge/">Forge</a> - моды<br />
    Здесь выбирайте из ваших предпочтений.<br />
    Я для примера буду использовать Paper.<br />
</h3>
<hr />
<h3>
    Скачиваем Paper с официального сайта.<br />
    Далее копируем файл в папку в которой будет сервер и запускаем.<br />
    Создаётся много файлов, нам нужен eula.txt в нём в последней строке меняем false на true.<br />
    Запускаем файл ещё раз и сервер генерирует игровой мир.<br />
    Когда всё запустится , закрываем сервер и открываем server.properties.<br />
    В нём нам может пригодится параметр online-mode,<br />
    если вы играете на пиратской версии игры меняйте параметр на false и запускаем.<br />
</h3>





