
@{
    ViewBag.Title = "poshalka";
}
<style>

       img 
       {
            border-radius: 50%;
            animation: rotate 5s infinite linear; 
        }
    h1 
    {
        font-size: 50px;
    }
    p{
        margin-top:99%;
    }
        @@keyframes rotate 
        {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
</style>
<body>
    <center>
        <h1>1488</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Ura_manji.png" alt="Вращающееся изображение">
    </center>
    <audio autoplay>
        <source src="https://media.djlunatique.com/2022/03/Erika-German-Song-Sound-Effect.mp3" type="audio/mpeg">
        Ваш браузер не поддерживает воспроизведение аудио.
    </audio>
    <p>Данная страница создана шутки ради и не является пропагандой нацизма</p>
</body>

