
<form method="post">
    <p>link:</p><input type="text" name="link"><br /><br />
    <p>width:</p><input type="number" name="width" value="1200"><br /><br />
    <p>height:</p><input type="number" name="height" value="700"><br /><br />
    <p>title:</p><input type="text" name="title" value="result"><br /><br />
    <p>Background-color : <input type="color" name="color"></p>
    <p><input type="submit" value="Send" class="btn" /></p>
</form>