

<p><h1>Docs</h1></p>

<h2 class="a">Settings.json</h2>

<p>
    <h3>
        Created automatically along the path <br />C:\Users\User\AppData\<br />Roaming\settings.json<br />
        The file can be filled out using the interface or manually.<br /> Example:
    </h3>
    <br />
    <div class="code-p">
        <h2 class="code-text">
            {
            "firstCommand":<br />"start https://youtu.be/",<br />
            "secondCommand":<br />"start https://youtu.be/",<br />
            "thirdCommand":<br />"start https://youtu.be/",<br />
            "port":"COM1",<br />
            }
        </h2>
    </div>
    <p>
        <h3>
            Points:<br />
            firstCommand <br />
            secondCommand <br />
            thirdCommand <br />
            port number to which arduino. 
        </h3>
    </p>


@Html.ActionLink("Scheme", "scheme", "MAP", new { area = "" }, new { @class = "nav-link btn fullscreen-btn" })


<style>
    h1 {
        text-align: center;
    }
    .a
    {
        margin-top:15px;
    }
</style>
