

<h2>Arduino controller</h2>

<h3>Software</h3>
<p>
    <h5>Windows</h5>
        <button class ="btn" onclick="document.location='https://pupsik.bsite.net/Files/ConsoleApp3-x86.exe'">Windows 32-bit</button>
        <button class ="btn" onclick="document.location='https://pupsik.bsite.net/Files/ConsoleApp3.exe'">Windows 64-bit</button>
</p>

<p>
    <h5>Other</h5>
        <button class ="btn" onclick="document.location='https://pupsik.bsite.net/Files/sketch_mar12a.zip'">Source code</button>
        <button class ="btn" onclick="document.location='https://pupsik.bsite.net/Files/settings.json'">Json</button>
    </p>

<p>
    @Html.ActionLink("Docs", "docs", "MAP", new { area = "" }, new { @class = "nav-link btn" })
</p>
<style>
    h3, h5 {
        margin-top: 18px;
    }
</style>
