

<h1>Scheme</h1>

<img class="fit-picture"
     src="https://pupsik.bsite.net/Files/scheme.png"
     alt="Grapefruit slice atop a pile of other slices" />
<form target="_blank" action="https://pupsik.bsite.net/Files/scheme.png">
    <button class="btn fullscreen-btn">See in new tab</button>
</form>
<style>
    .fit-picture {
        max-width: 100%;
        height: auto;
        border-style: dashed;
    }
    h1
    {
        text-align:center;
    }
    .btn {
        margin-top: 10px;
    }
</style>