<form method="post">
    <p>identifier:</p><input type="text" name="ind"><br /><br />
    <p>width:</p><input type="number" name="width" value="1200"><br /><br />
    <p>height:</p><input type="number" name="height" value="700"><br /><br />
     Hide taskbar:<input type="checkbox" name="isHide"><br /><br />
    <p>Background-color : <input type="color" name="background"></p>
    <p>Background-image : <input type="url" name="image"></p>
    <p><input type="submit" value="Send" class="btn" /></p>
</form>
<style>
    input
    {
        accent-color:green;
    }
</style>